* {
  padding: 0;
  margin: 0;
}
.forgotPasswordContainer {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  align-items: center;
}
.inputEmailUser {
  background: #f0efff;
  border-radius: 8px;
  margin-top: 0%;
  width: 100%;
}
.ForgotPasswordForm {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-right: 15%;
  margin-top: 5%;
}
.ForgotPassword {
  height: 40px;
  width: 300px;
}

.buttonSumbit {
  font-size: 14px;
  padding: 2% 0;
  margin-top: 25px;
  border-radius: 8px;
  background-color: #a259ff;
  color: #ffff;
  width: 100%;
}
.forgotPasswordTitle {
  font-size: 30px;
  text-align: center;
}
.titleEmail {
  text-align: start;
  margin-top: 7%;
  margin-bottom: 2%;
  font-size: 15px;
}
