* {
  padding: 0;
  margin: 0;
}
.resetPasswordContainer {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  align-items: center;
}
.resetPasswordForm {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-right: 15%;
  margin-top: 5%;
}
.inputPassword {
  background: #f0efff;
  border-radius: 8px;
  margin-top: 2%;
  width: 100%;
}
.resetForm {
  height: 40px;
  width: 300px;
}
.confirmpassword {
  background: #f0efff;
  border-radius: 8px;
  margin-top: 2%;
  width: 100%;
}
.buttonSumbit {
  font-size: 14px;
  padding: 2% 0;
  margin-top: 25px;
  border-radius: 8px;
  background-color: #a259ff;
  color: #ffff;
  width: 100%;
}

.resetTitle {
  font-size: 30px;
  text-align: start;
}
.inputTitle {
  text-align: start;
  margin-top: 7%;
}
