* {
  padding: 0;
  margin: 0;
}

.myPage {
  height: 100%;
  background-color: #e5e5e5;
  font-size: 14px;
  padding: 6px 0;
}

.signUpContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signUpForm {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.form_signUp {
  width: 300px;
}

.userName {
  background: #f0efff;
  border-radius: 8px;
  margin-top: 5%;
  width: 100%;
}
.enterEmail {
  background: #f0efff;
  border-radius: 8px;
  width: 100%;
}
.password {
  background: #f0efff;
  border-radius: 8px;
  margin-top: 5%;
  width: 100%;
}

.number {
  background: #f0efff;
  border-radius: 8px;
  margin-top: 5%;
  width: 100%;
}

.confpassword {
  background: #f0efff;
  border-radius: 8px;
  width: 100%;
  margin-top: 5%;
}
.signUpBtn {
  font-size: 14px;
  padding: 2% 0;
  margin-top: 5%;
  border-radius: 8px;
  background-color: #a259ff;
  color: #ffff;
  width: 100%;
}
.info {
  font-size: 20px;
}
.loginLink {
  color: #a259ff;
}
