.sortContainer{
    position: relative;
    display: flex;
    align-items:center;    
}
.sortContainer h4{
    margin-left: 10px;
    color: #A8A2AF;
    font-size: 18px;
    font-weight: 500;
}
.sortIcon{
    width: 18px;
    height: 18px;
    background-image: url(/src/Assets/sort.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
