.btn{
    border: none;
    border-radius: 30px ;
    padding: 8px 20px;
    background-color: #fff;
    color: #5950C0;
    font-size: 14px;
    font-weight: 500;    
    text-align: center;
    cursor: pointer;
    transition: all .2s ease;
    
}
.btn.outlined{
    border: 1px solid #A259FF;
    color: #A259FF
}
.btn.filled{
    background-color: #A259FF;
    color: #fff;
}
.btn.outlined:hover{
    background-color: #F9F9FC;
   
}
.btn.filled:hover{
    background-color: #653A9C;
   
}
.btn:hover,.btn:active{
    color: #fff;
    background-color: #5950C0;
    transition: all .2s ease;
}