.candidatesContainer{    
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2%;   

}
.titleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}