.repoItem{
    flex-basis: 29%;
    min-height: 150px;
    background-color: #F9F9FC;
    border-radius: 12px;
    padding: 15px;
}
.repoTitle{
    display: flex;
    align-items: center;
    margin-bottom: 10px;    
    font-size: 20px;
    font-weight: 500;
}
.repoItem:first-child .repoTitle{
    color: #A259FF;
}
.repoItem:nth-child(2) .repoTitle{
    color: #F24E1E;
}
.repoItem:nth-child(3) .repoTitle{
    color: #0ACF83;
}
.repoTitle:before{
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
}
.repoItem:first-child .repoTitle:before{
    background-image: url(/src/Assets/folderPurple.svg);
}
.repoItem:nth-child(2) .repoTitle:before{
    background-image: url(/src/Assets/folderOrange.svg);
}
.repoItem:nth-child(3) .repoTitle:before{
    background-image: url(/src/Assets/folderGreen.svg);
}
